*{
    padding:0px;
    margin: 0px;
}
a{
    text-decoration: none;
}
.header100{
    width: 100%;height: 110px;
    box-shadow: 0px 7px 5px 0px #e6e6e6;
}
header{
    width: 1210px;margin: auto;
    height: 110px;
}
header img{
    width: 160px;
    height: 50px;
    float: left;
    margin-top: 24px;
}
.header-reg{
    float: left;
    height: 34px;
    line-height: 34px;
    font-size: 24px;
    color: #333;
    margin-top: 38px;
    margin-left: 20px;
}
.header-log{
    font-size: 16px;
    float: right;
    margin-top: 55px;
    color: #999;
}
.header-log a{
    color: #e22;
}
.header-log a:hover{
    color: #c81623;
    text-decoration: underline;
}

.main{
    width: 400px;
    margin: auto;
    position: relative;
}
.root,.pass,.passagain,.email,.phone{
    width: 398px;
    height: 50px;border: 1px solid #ddd;position: relative;
}
.root{
    margin-top: 50px;
}
.pass,.passagain,.email,.phone{
    margin-top: 20px;
}
.root1,.pass1,.passagain1,.email1,.phone1{
    width: 100px;height: 50px;border-right: 1px solid #ddd;
    position: absolute;
    line-height: 50px;text-align: center;
    
}
input{
    font-size: 16px;
    width: 278px;
    height: 20px;
    outline: none;
    padding: 15px 0 15px 120px;
    border: none;
}
.protocol{
    line-height: 18px;margin-top: 30px;
    color: #333;
    font-size: 12px;
}
.protocol a{
    color: #0066cc;line-height: 18px;
}
.protocol a:hover{
    color: #c81623;
    text-decoration: underline;
}
.protocol input{
    width: 18px;
    height: 18px;
    outline: none;
    border: none;
    display: inline-block;
    margin: 0px 10px 0px 0px;
}
.reg{
    width: 398px;
    height: 40px;
    border: 1px solid #e85356;
    background: #c81623;;
    line-height: 31px;
    color: #fff;
    font-size: 20px;
    font-family: 'Microsoft YaHei';
    margin-top: 30px;
    margin-bottom: 100px;
}
.ai{
    cursor: pointer;
    position: absolute;
    right: -131px;
    top: 55px;
    width: 87px;
    height: 55px;
    border: 1px solid #e3e3e3;
    text-align: center;
    padding: 16px 0;
}
.ai:hover .icon{
    background-position: 0 -134px;
}
.ai:hover .aitext{
    color: #e12317;;
}
.icon{
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 5px;
    background: url(../images/regimg/pic_101.png) no-repeat;
    background-position: 0 -100px;
}
.aitext{
    font-size: 12px;
    color: #333;
}


.footer100{
    width: 100%;
}
.footer{
    width: 1210px;margin: auto;
    text-align: center;
    border-top: solid 1px #e6e6e6;
}
.footer ul{
    display: inline-block;
    margin: 20px 0 10px;
}
.footer ul li{
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    margin: 0px 7px;color: #666;list-style: none;float: left;
}
.footer ul li a:hover{
    text-decoration: underline;
    color: #E4393C;
}
.footer ul li a{
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    line-height: 12px;
    padding: 0;color: #666;
}
.footer p{
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";color: #666;
    padding-bottom: 50px;
}